<div class="desktop" id="desktop">
  <!-- Desktop icons -->
  <div class="desktop-icons">
    <button class="desktop-icon" data-name="My Computer" data-type="system">
      <img class="icon-image desktop-icon-image" data-icon-id="my-computer" alt="" aria-hidden="true" />
      <span>My Computer</span>
    </button>

    <button class="desktop-icon" data-name="My Documents" data-type="system">
      <img class="icon-image desktop-icon-image" data-icon-id="my-documents" alt="" aria-hidden="true" />
      <span>My Documents</span>
    </button>

    <button class="desktop-icon desktop-project-icon desktop-project-icon-primary"
            data-name="NetRadar"
            data-type="folder"
            data-folder-path="1-NetRadar">
      <img class="icon-image desktop-icon-image" data-icon-id="project-folder" alt="" aria-hidden="true" />
      <span>NetRadar</span>
    </button>

    <button class="desktop-icon desktop-project-icon desktop-project-icon-secondary"
            data-name="MPM + ML"
            data-type="folder"
            data-folder-path="2-MineralProspectivityMapping">
      <img class="icon-image desktop-icon-image" data-icon-id="project-folder" alt="" aria-hidden="true" />
      <span>MPM + ML</span>
    </button>

    <button class="desktop-icon"
            data-name="About.doc"
            data-type="doc"
            data-app="word"
            data-file="desktop/about.html"
            data-title="About.doc - Microsoft Word">
      <img class="icon-image desktop-icon-image" data-icon-id="office-doc" alt="" aria-hidden="true" />
      <span>About.doc</span>
    </button>

    <button class="desktop-icon"
            data-name="Welcome.doc"
            data-type="doc"
            data-app="word"
            data-file="desktop/welcome.html"
            data-title="Welcome.doc - Microsoft Word">
      <img class="icon-image desktop-icon-image" data-icon-id="office-doc" alt="" aria-hidden="true" />
      <span>Welcome.doc</span>
    </button>

    <button class="desktop-icon"
            data-name="TODO.txt"
            data-type="doc"
            data-app="notepad"
            data-file="desktop/todo.txt"
            data-title="TODO.txt - Notepad">
      <img class="icon-image desktop-icon-image" data-icon-id="notepad" alt="" aria-hidden="true" />
      <span>TODO.txt</span>
    </button>

    <button class="desktop-icon" data-name="Recycle Bin" data-type="system">
      <img class="icon-image desktop-icon-image" data-icon-id="recycle-bin" alt="" aria-hidden="true" />
      <span>Recycle Bin</span>
    </button>
  </div>

  <!-- Windows will be created here -->
  <div id="windows-layer"></div>
</div>

<!-- Taskbar -->
<footer class="taskbar">
  <button class="start-button" id="start-btn">
    <img class="start-logo" alt="" aria-hidden="true" />
    Start
  </button>

  <div class="quick-launch">
    <a class="ql-icon" href="/" aria-label="Go to Desktop Home">
      <img class="ql-icon-image" data-icon-id="desktop-home" alt="" aria-hidden="true" />
    </a>
    <button class="ql-icon placeholder-icon tiny" aria-label="Quick launch icon 2"></button>
    <button class="ql-icon placeholder-icon tiny" aria-label="Quick launch icon 3"></button>
  </div>

  <div class="task-buttons" id="task-buttons"></div>

  <div class="taskbar-spacer"></div>

  <div class="system-tray">
    <span class="tray-icon placeholder-icon tiny"></span>
    <span class="tray-icon placeholder-icon tiny"></span>
    <time id="clock">12:00 AM</time>
  </div>
</footer>

<!-- Start menu -->
<div class="start-menu hidden" id="start-menu">
  <div class="start-menu-side">Windows 98</div>
  <ul class="start-menu-list">
    <li class="start-menu-row">
      <button class="start-menu-item" type="button" data-start-item="programs">
        <span class="start-item-icon placeholder-icon tiny" aria-hidden="true"></span>
        <span>Programs</span>
      </button>
    </li>
    <li class="start-menu-row start-documents-row">
      <button class="start-menu-item" type="button" id="start-documents-btn" data-start-item="documents" aria-expanded="false">
        <img class="start-item-icon small" data-icon-id="my-documents" alt="" aria-hidden="true" />
        <span>Documents</span>
        <span class="start-menu-arrow" aria-hidden="true">▶</span>
      </button>
    </li>
    <li class="start-menu-row">
      <button class="start-menu-item" type="button" data-start-item="settings">
        <span class="start-item-icon placeholder-icon tiny" aria-hidden="true"></span>
        <span>Settings</span>
      </button>
    </li>
    <li class="start-menu-row">
      <button class="start-menu-item" type="button" data-start-item="find">
        <img class="start-item-icon small" data-icon-id="find" alt="" aria-hidden="true" />
        <span>Find</span>
      </button>
    </li>
    <li class="start-menu-row">
      <button class="start-menu-item" type="button" data-start-item="help">
        <span class="start-item-icon placeholder-icon tiny" aria-hidden="true"></span>
        <span>Help</span>
      </button>
    </li>
    <li class="start-menu-row">
      <button class="start-menu-item" type="button" data-start-item="run">
        <span class="start-item-icon placeholder-icon tiny" aria-hidden="true"></span>
        <span>Run...</span>
      </button>
    </li>
    <li class="separator"></li>
    <li class="start-menu-row">
      <button class="start-menu-item" type="button" data-start-item="shutdown">
        <span class="start-item-icon placeholder-icon tiny" aria-hidden="true"></span>
        <span>Shut Down...</span>
      </button>
    </li>
  </ul>
</div>
